{% extends 'layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
      <h3>Cadastro</h3><hr>
      <form method='post' action='{{url_for("cadastro")}}'>
        <div class='form-group'>
          <label>E-mail</label>
          <input type='text' name='user_email' required class='form-control' placeholder='crie seu e-mail'>
        </div>
        
		<div class='form-group'>
          <label>Senha </label>
          <input type='text' name='user_senha' required class='form-control' placeholder='crie sua senha'>
        </div>
        <input type='submit' value='Salvar' class='btn btn-primary'>
      </form>
    
    </div>
  </div>
{% endblock %}