{% extends 'layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
	
      <h3>Editar usuario</h3><hr>
      <form method='post' action='{{url_for("edit_user",uid=datas.UID)}}'>
        <div class='form-group'>
          <label>Nome do usuario</label>
          <input type='text' name='uname' required class='form-control' value='{{datas.UNAME}}'>
        </div>
        <div class='form-group'>
          <label>Contato</label>
          <input type='text' name='contact' required class='form-control' value='{{datas.CONTACT}}'>
        </div>
		<div class='form-group'>
          <label>E-mail</label>
          <input type='text' name='email' required class='form-control' value='{{datas.EMAIL}}'>
        </div>
		
        <input type='submit' value='Submit' class='btn btn-primary'>
      </form>
    </div>
  </div>
{% endblock %}