{% extends 'layout.html' %}
{% block body %}
  <h3 class='text-center text-muted mb-3'>Lista de contatos e clientes </h3>
  <p class='text-right'><a href='{{url_for("add_user")}}' class='btn btn-success '>Criar conta</a>
  <p class='text-right'><a href='{{url_for("login")}}' class='btn btn-success '>fazer login</a></p>
  </p>
  

  
  <div class="container>
	<div class="table-response">
	<table class='tabl table table-striped table-hover' cellspacing="0"  width="1050" style="text-Align: center;">
		<thead>
		  <th>ID</th>
		  <th>Nome</th>
		  <th>Contato</th>
		  <th>E-mail</th>
		  <th>Ações</th>
		  
		</thead>
		<tbody>
		  {% for row in datas %}
			<tr role="row">
			  <td>{{loop.index}}</td>
			  <td>{{row.UNAME}}</td>
			  <td>{{row.CONTACT}}</td>
			  <td>{{row.EMAIL}} </td>
			  
			  
			  <td>
				<div class="wrapper text-center">
					<div class="btn-group" display="inline">
						<a href='{{url_for("edit_user",uid=row.UID)}}' class='btn btn-primary'>Edit</a>
			  
			  
			  
			  
						  <a href='{{url_for("delete_user",uid=row.UID)}}'  class='btn btn-danger' onclick='return confirm("Excluir Dados")'>Delete</a>
						  
						  
						  <button class='btn btn-orcamento' aria-Hidden="true" href='{{url_for("orcamento")}}' title="aditar"><i class="fa fa-file-lines" onclick='routeOrc()'></i></button>

						
					</div>
					
				</div>
			  </td>
			  
			</tr>
		  {%endfor%}
		</tbody>
	</table>
  </div>
  </div>
{% endblock %}



