<html>
  <head>
    <title>Flask - SQLite </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/d5834b8f38.js" crossorigin="anonymous"></script>
	<script src="{{url_for('static', filename='/js/layout.js')}}"></script>
	
	
	<style>
		header {
					background-color: black;
					color: white;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 15vh;
					box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
				}
				
		footer {
					height: 10vh;
					background-color: black;
					color: white;
					display: flex;
					align-items: center;
					justify-content: center;
					box-shadow: -5px -5px 10px rgb(0, 0, 0, 0.3);
				}
				
				

				footer>p {
					text-align: center;
					font-family: 'system-ui';
					letter-spacing: 3px;
				}

				footer>p>a {
					text-decoration: none;
					color: white;
					font-weight: bold;
				}
				main {
						display: flex;
						align-items: center;
						justify-content: center;
						height: 90vh;
						width: 100%;
						background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Mountains-1412683.svg/1280px-Mountains-1412683.svg.png) no-repeat center center;
						background-size: cover;
					}
	</style>
  </head>
  <body>
    <header>
        <h1>ROTA 77</h1>
    </header>
    <div class='container pt-3'>
      {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class='alert alert-{{category}}'>{{message}}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block body %}
      
      {% endblock %}
    </div>
	<footer>
        <p>Desenvolvido por <a href="#">VINE_SSH;</a></p>
    </footer>
  </body>
</html>