{% extends 'layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
      <h3>Gerar orçamento</h3><hr>
      <form method='post' action='{{url_for("add_user")}}'>
        <div class='form-group'>
          <label>Nome do usuario</label>
          <input type='text' name='uname' required class='form-control'>
        </div>
        <div class='form-group'>
          <label>Contato</label>
          <input type='text' name='contact' required class='form-control'>
        </div>
        <input type='submit' value='Salvar' class='btn btn-primary'>
      </form>
    
    </div>
  </div>
{% endblock %}